# Intel・AMD GPU
# ホストのユーザー・GPUデバイスに合わせて変更してください。
KONOMITV_UID=1000
KONOMITV_GID=1000
KONOMITV_VIDEO_GID=44
KONOMITV_RENDER_GID=992

# NVIDIA GPUをを使用する場合は compose.yaml:compose.nvidia.yaml へ変更してください。
COMPOSE_FILE=compose.yaml
#COMPOSE_FILE=compose.yaml:compose.nvidia.yaml

# Dockerイメージへ組み込むCUDAと非自由コンポーネントの構成です。
KONOMITV_CUDA_VERSION=12.4
KONOMITV_NONFREE=true
